* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}
body{
    background-color: #121212;
}

@mixin flex-column($gap: 0){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section{
        width: 100%;
        max-width: 2000px;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            background-color: rgba(255, 255, 255, .05);
            padding: 1.5rem;
            border-radius: 0.7rem;
            @include flex-column(4.5rem);

            .text{
                @include flex-column(0.7rem);
                h1{
                    font-weight: 200;
                    font-size: 2.3rem;
                    text-transform: uppercase;
                }

                p{
                    font-size: 1.3rem;
                    font-weight: 300;
                    opacity: 0.8;
                    line-height: 2rem;
                    color: rgb(197, 197, 197);
                    
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                }
            }
        }

    }
}


@media (min-width:600px){
    main{
        section{
            flex-direction: row;
            padding: 1rem 3rem;

            .top,.bottom{
                width: 50%;
            }
            .bottom{
                padding: 3rem;
            justify-content: space-between;

            .text{
                gap: 1.5rem;

                h1{
                    font-size: 3rem;
                }
                p{
                    width: 60%;
                    font-size: 1rem;
                }
            }
            }
        }
    }
}

// @media (min-width:1700px) {
//     main{
//         section{
//             justify-content: center;
//             .top,.bottom{
//                 width: 800px;
//             }
//         }
//     }
// }