* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: clamp(14px, 1vw, 18px);
}
body{
    background-color: #121212;
}

@mixin flex-column($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    @include flex-column(0rem);
    align-items: center;

    section.view1{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }

        .bottom>p{
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 600;
            opacity: 0.8;
        }
        .bottom{
            background-color: rgba(255, 255, 255, .05);
            padding: 1.5rem;
            border-radius: 0.7rem;
            @include flex-column(4.5rem);

            

            .text{
                @include flex-column(1rem);
                h1{
                    font-weight: 200;
                    font-size: 2.3rem;
                    text-transform: uppercase;
                }

                p{
                    font-size: 1.3rem;
                    font-weight: 300;
                    opacity: 0.8;
                    line-height: 2.1rem;
                    color: rgb(197, 197, 197);
                    
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

    }

    section.view2{
        @include flex-column(2.5rem);
        width: 100%;
        padding: 1rem;
        .top,.bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element{
                text-align: center;
                @include flex-column(0.2rem);

                small{
                    opacity: 0.8;
                }
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }
            }
        }
    }

    section.view3{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }
        // .bottom{
        //     background-color: rgba(255, 255, 255, .05);
        //     padding: 1.5rem;
        //     border-radius: 0.7rem;
        //     @include flex-column(4.5rem);

        //     .text{
        //         @include flex-column(0.7rem);
        //         h1{
        //             font-weight: 200;
        //             font-size: 2.2rem;
        //             text-transform: uppercase;
        //         }
                
        //         .paragraphs{
        //             p{
        //                 display: contents;
        //                 font-size: 1.2rem;
        //                 font-weight: 300;
        //                 opacity: 0.8;
        //                 line-height: 2.1rem;
        //                 color: rgb(197, 197, 197);
        //             }
        //         }
        //     }
        // }

        .bottom>p{
            text-transform: uppercase;
        }

        .bottom{
            background-color: rgba(255, 255, 255, .05);
            padding: 1.5rem;
            border-radius: 0.7rem;
            @include flex-column(4.5rem);

            >p{
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                opacity: 0.8;
            }
            

            .text{
                @include flex-column(1rem);
                h1{
                    font-weight: 200;
                    font-size: 2.3rem;
                    text-transform: uppercase;
                }

                p{
                    font-size: 1.3rem;
                    font-weight: 300;
                    opacity: 0.8;
                    line-height: 2.1rem;
                    color: rgb(197, 197, 197);
                    
                }
            }
        }
    }

    section.view4{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;

        .top{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }
        .bottom{
            background-color: rgba(255, 255, 255, .05);
            border-radius: 0.7rem;
            padding: 1.5rem;
            @include flex-column(4.5rem);

            >p{
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                opacity: 0.8;
            }

            .text{
                @include flex-column(1rem);

                h1{
                    font-weight: 200;
                    font-size: 2.3rem;
                    text-transform: uppercase;
                }
                p{
                    font-size: 1.3rem;
                    font-weight: 300;
                    opacity: 0.8;
                    line-height: 2.1rem;
                    color: rgb(197, 197, 197);
                }
            }
        }
    }

    section.view5{
        @include flex-column();
        gap: 1rem;
        width: 100%;
        padding: 1rem;

        #card1{
            background-image: url(./assests/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
        }
        #card2{
            background-image: url(./assests/63d2ccbd2e12fa747e999689_team-02.webp);
        }
        #card3{
            background-image: url(./assests/63d2ccbdc1f945f817bf4fd7_team-03.webp);
        }

        .card{
            width: 100%;
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 0.7rem;
            @include flex-column();
            justify-content: space-between;
            padding: 1.5rem 1rem;

            .icon,.bottom{
                backdrop-filter: blur(3rem);
                display: flex;
                border-radius: 0.3rem;
                border: 1px solid rgba(162, 162, 162, 0.296);
                justify-content: space-between;
                padding: 1.6rem 1rem;
                text-transform: uppercase;
                font-size: 1.3rem;
            }
            .top{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 0.5rem;
            }
            .icon{
                width: fit-content;
                padding: 0.8rem;
                border-radius: 50%;
                i{
                    opacity: 0.7;
                }
            }
        }
    }

    section.view6{
        width: 100%;
        @include flex-column(1rem);
        padding: 1rem;
        .top{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.7rem;
            }
        }

        .bottom{
            background-color: rgba(255, 255, 255, .05);
            padding: 1.5rem;
            border-radius: 0.7rem;
            @include flex-column(1rem);

            >p{
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 600;
                opacity: 0.5;
            }

            .content{
                @include flex-column(5rem);
                height: 100%;
                justify-content: space-between;
                h1{
                    font-weight: 200;
                    font-size: 2.3rem;
                    text-transform: uppercase;
                    line-height: 2.8rem;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.7rem;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }

    }

}

section{
    max-width: 2000px;
}


@media (min-width:600px){
    main{
        section.view1{
            flex-direction: row;
            padding: 0.5rem 3rem;

            .top,.bottom{
                width: 50%;
            }
            .top{
                img{
                    border-radius: 1rem;
                }
            }
            .bottom{
                padding: 3rem;
                justify-content: space-between;
                
                border-radius: 1rem;

            .text{
                gap: 1.5rem;

                h1{
                    font-size: 4rem;
                }
                p{
                    width: 60%;
                    font-size: 1.3rem;
                }
            }
            }
        }

        section.view2{
            flex-direction: row;
            padding: 2.5rem 3rem;
        }

        section.view3{
            flex-direction: row-reverse;
            padding: 0.5rem 3rem;
            .top,.bottom{
                width: 50%;
            }
            
            .top{
                img{
                    border-radius: 1rem;
                }
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;
                border-radius: 1rem;
                .text{
                    h1{
                        font-size: 3rem;
                    }
                }
                .paragraphs{
                    display: flex;
                    gap: 2rem;
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view4{
            flex-direction: row;
            padding: 0.5rem 3rem;

            .top,.bottom{
                width: 50%;
            }
            .top{
                img{
                    border-radius: 1rem;
                }
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;
                border-radius: 1rem;

                .text{
                    h1{
                        font-size: 3rem;
                    }
                }
                .paragraphs{
                    display: flex;
                    gap: 2rem;
                    p{
                        font-size: 1rem;
                    }
                }
            }

        }

        section.view5{
            flex-direction: row;
            padding: 0.5rem 3rem;
        }

        section.view6{
            flex-direction: row;
            .top,.bottom{
                width: 50%;
            }
            .content{
                justify-content: space-between;
            }
        }

        // section.view3{
        //     flex-direction: row-reverse;
        //     padding: 1rem 3rem;
        //     .top,.bottom{
        //         width: 50%;
        //     }
        //     .bottom{
        //         justify-content: space-between;
        //         padding: 3rem;
        //         .text{
        //             .paragraphs{
        //                 display: flex;
        //                 justify-content: space-between;
        //                 width: 100%;
        //                 p{
        //                     width: 40%;
        //                     font-size: 1.1rem;
        //                     display: inline;
        //                     line-height: 1.8rem;
        //                 }
        //             }
        //         }
        //     }
        // }
        

    }
}

// @media (min-width:1700px) {
//     main{
//         section{
//             justify-content: center;
//             .top,.bottom{
//                 width: 800px;
//             }
//         }
//     }
// }